<a href="/"><img src="../assets/viralLogo.png" alt=""></a>
<body>
    <router-outlet></router-outlet>
    <footer class="footer_area p_120">
        <div id="bottom" class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget social_widget">
                        <p>Eastern Michigan University</p>
                        <p> COSC 471 Group 5 Fall 2023</p>
                    </aside>
                   

                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            
                        </div>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            
                        </div>
                        
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                    </aside>
                </div>
            </div>
        </div>
    </footer>
</body>

