<div class="authentication">
    <h2>Sign Up</h2>
    <p>Create an account to get started:</p>
    <!-- Sign Up Form -->
    <form  #signupForm="ngForm" novalidate>
      <div class="form-group">
        <input type="text" id="fullName" name="firstName" class="form-control" placeholder="First name"  required>
      </div>
      <div class="form-group">
        <input type="text" id="fullName" name="lastName" class="form-control" placeholder="Last name"  required>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email"  required>
      </div>
      <div class="form-group">
        <input type="text"  inputmode="numeric" class="form-control" placeholder="(XXX) XXX-XXXX"  mask="(000) 000-0000">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"  required>
      </div>
      <div class="form-group">
        <input type="password" id="confimPassword" name="confirmPassword" class="form-control" placeholder="Confirm password"  required>
      </div>
      <button (click)="signUp()" type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Log In</a></p>
</div>
  