.dashboard {
    display: flex;
    min-height: 100vh; /* Use min-height to ensure it fills the entire screen */
    background-color: #333; /* Moderately dark gray background color */
    color: #fff;
    margin: 0; /* Remove default margin for body element */
    overflow: hidden; /* Prevent scroll bars due to 100vh */
  }
  
  .sidebar {
    width: 250px;
    background-color: #444; /* Slightly darker gray background color for the sidebar */
    color: #fff;
    padding: 20px;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
  
        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          transition: 0.3s;
  
          &:hover {
            color: purple; /* Change to your desired hover color */
          }
        }
      }
    }
  
    .logo {
      img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
      }
    }
  }
  
  .content {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto; /* Add scroll bars for content if needed */
  }
  
  .authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
  
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    a.login-button, a.signup-button {
      display: inline-block;
      padding: 10px 30px; /* Increased padding for more space between buttons */
      background-color: #1DA1F2;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      margin: 10px; /* Increased margin to space the buttons */
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: purple; /* Change to your desired hover color */
      }
    }
  }
  